<%- include("partials/header") %>
            <h1>Giphy Daily Project.</h1>
            <form action="/" method="POST">
                <input type="text" name="title" placeholder="Type here..." required>
                <button type="submit">Search</button>
            </form>

            <!-- gifs are going to go here -->
            <section id="result">
                <%  if (result) { %>
                    <% for (const section of result) { %>
                        <div class="indiv">
                            <img src="<%=section.imageUrl%>" alt="" height="<%=section.imageHeight%>" width="<%=section.imageWidth%>">
                            <section class="information" style="height: <%=section.imageHeight%>; width:<%=section.imageWidth%>">
                                <h4><%=section.gifTitle%></h4>
                                <button onclick="like(this)"><3</button>
                            </section>
                        </div>
                    <% } %>
                <%  } else { %>
                    <h3>Nothing is being showed......</h3>
                <%  } %>
            </section>

        </main>

        <script>
            const resultContainer = document.querySelector("#result");

            const individuals = document.querySelectorAll(".indiv");
            for (const indiv of individuals)
            {
                indiv.addEventListener("mouseenter", function(){
                    this.children[1].style.visibility = "visible";
                });
                indiv.addEventListener("mouseleave", function(){
                    this.children[1].style.visibility = "hidden";
                });
            }
            function like(obj)
            {
                obj.classList.toggle("liked");
                const gifUrl = obj.parentElement.parentElement.children[0].src;
            }
        </script>
    </body> 
</html>