<%- include("partials/header") %>
        <h1>Tests</h1>
        <section id="tests" name="alsdkfjasklfjalsdkfjaklsf">
            <% if (tests) { %>
                <% for (const test of tests) { %>
                    <form action="/test" method="post" class="indivContainer">
                        <button type="submit" name="testId" value="<%=test._id%>">
                            <b><%=test.subject%></b>
                            <div class="indiv">
                                <div>
                                    <h1><%=test.title%></h1>
                                    <p><%=test.desc%></p>
                                </div>
                            </div>
                        </button>
                    </form>
                <% } %>
            <% } else {%>
                <h3>You do not have any tests.</h3>
            <% } %>
        </section>

        <form action="/addTest">
            <button>Add Test</button>
        </form>
    </main>

    <script>
    </script>

</body>
</html>