<%- include("partials/header") %>
        <h1>Tests</h1>
        <section id="tests">
            <% if (tests) { %>
                <% for (const test of tests) { %>
                    <div>
                        <form action="/test" method="post" class="indivContainer" name="<%=test._id%>">
                            <input type="text" class="hidden" name="testId" value="<%=test._id%>">
                            <div class="indivContainer">
                                <button>
                                    <b><%=test.subject%></b>
                                    <div class="indiv">
                                        <h1><%=test.title%></h1>
                                        <p><%=test.desc%></p>
                                    </div>
                                </button>
                                <button type="button" class="deleteTest">Delete Test</button>
                            </div>
                        </form>
                    </div>
                <% } %>
            <% } else {%>
                <h3>You do not have any tests.</h3>
            <% } %>
        </section>

        <form action="/addTest">
            <button>Add Test</button>
        </form>
    </main>

    <script>
        const testContainer = document.querySelector("#tests"); 
        const deleteButtons = document.querySelectorAll(".deleteTest");
        for (const button of deleteButtons) {
            button.addEventListener("click", function(){
                // get the current test id
                const id = this.parentElement.parentElement.getAttribute("name");
                // send fetch request to delete this test
                fetch("/deleteTest", {
                    method: "POST",
                    headers: new Headers({
                        "content-type":"application/json"
                    }),
                    body: JSON.stringify({
                        testId: id
                    })
                })
                .then(async (r)=>await r.json())
                .then((r)=>{
                    if (r.result) {
                        // did good, so remove from test section
                        testContainer.removeChild(this.parentElement.parentElement);
                    }
                    else {
                        alert("We could not remove this.");
                    }
                })
                .catch((e)=>{
                    console.error(e);
                })
            });
        }
    </script>

</body>
</html>