<%-include("partials/header")%>
        <section id="testContainer" name="<%=testId%>">
            <% if (creating) { %>
                <h1>Test Information: </h1>
                <form action="/createTest">
                    <label for="title">Title: </label>
                    <input type="text" name="title" value="<%=testInfo ? testInfo.title : 'Title here' %>" required>
                    <label for="desc">Description: </label>
                    <input type="text" name="desc" value="<%=testInfo ? testInfo.desc : 'Description here'%>" required>
                    <!-- TODO: allow them add different options,load them here. -->
                    <label for="subject">Subject: </label>
                    <select name="subject" id="subjectContainer">
                        <!-- TODO: do the selected for this. -->
                    </select>
                </form>
                <hr>
                <h1>Questions </h1>
                <div id="questions">
                    <!-- Default we are going to display one available already to edit -->
                </div>
                <button id="addQuestion">Add Question</button>
                <% if (creating && testInfo) { %>
                    <button id="edit">Edit</button>
                <% } else { %>
                    <button id="done">Done</button>
                <% } %>
            <% } else { %>
                <section id="testInformation">
                    <h1><%=testInfo.title%></h1>
                    <p><%=testInfo.desc%></p>
                    <b style="background-color:<%=testInfo.subject.color%>"><%=testInfo.subject.title%></b>
                    <form action="/editTest" method="GET">
                        <input type="text" name="testId" value="<%=testInfo._id%>" class="hidden">
                        <button type="submit" id="editTest">Edit</button>
                    </form>
                </section>
                <section id="questions">
                    <!-- here display all the questions and answeres -->
                    <% for (const question of questions) { %>
                        <div class="question" name='0'>
                            <h2>Q) <%=question.question%></h2>
                            <!-- generate the available question-->
                            <% for (const p in question.possible) { %>
                                <div class="questionContainer" name="<%=true ? question.possible[p] == question.answer: false%>">
                                    <input type="radio" name="<%=question.question%>" id="<%=question.possible[p]%><%=question.question%>" onclick="selected(this)"> 
                                    <label class="possibleLabel" for="<%=question.possible[p]%><%=question.question%>"><%=question.possible[p]%></label>
                                </div>
                            <% } %>
                        </div>
                    <% } %>

                    <button id="submit">Submit</button>
                    <section id="result" class="hidden">
                        <h1 id="score">Score: </h1>
                        <button id="takeAgain">Take Again?</button>
                    </section>
                </section>
            <% } %>
        </section>
    </main>
    
    <% if (creating) { %> 
        <script src="js/editingTest.js"></script>
    <% } else { %>
        <script src="js/testing.js"></script>
    <% } %>
</body>
</html>