<%-include("partials/header")%>
        <section id="testContainer" name="<%=testId%>">
            <% if (creating) { %>
                <form action="/createTest">
                    <input type="text" name="title" placeholder="Test Title" required>
                    <input type="text" name="desc" placeholder="Test Description" required>
                    <!-- TODO: allow them add different options,load them here. -->
                    <select name="subject" id="">
                        <option value="math">Math</option>
                        <option value="science">Science</option>
                        <option value="computers">Computers</option>
                        <option value="custom">Custom</option>
                    </select>
                </form>
                <div id="questions">
                    <!-- Default we are going to display one available already to edit -->
                </div>
                <button id="addQuestion">Add Question</button>
                <button id="done">Done</button>
            <% } else { %>
                <h1><%=testInfo.title%></h1>
                <p><%=testInfo.desc%></p>
                <b><%=testInfo.subject%></b>
                <!-- here display all the questions and answeres -->
                <% for (const question of questions) { %>
                    <div class="question">
                        <h2>Q) <%=question.question%></h2>
                        <!-- generate the available question-->
                        <p><%=question.answer%></p>
                    </div>
                <% } %>
            <% } %>
        </section>
    </main>
    
    <script src="js/test.js"></script>
</body>
</html>